<html>
    <body>
<div class="col-md-12">
 <div class="panel-container" id="content" style>

    <div class="row">
        <section class="about-me line col-md-12 padding_30 padbot_45">
            <div class="section-title">
                <span></span>
                <br>
                <br>
                <h2 class="mb-5" style="color: #D9552C;">ABOUT ME</h2>
             </div>
         </section>
    </div>
    <p class="lead mb-5" style="color: #233750;">
        I am a student at cleveland state university, working as a fullstack developer in the Drughelp.care organization. I have six months of experience in Tata Consultancy and Services in India as a Software Engineer, I worked on projects using  Java J2EE, JSP, Servlets, JDBC, Spring MVC, Spring Boot, JPA, Hibernate,   AWS services ( Elastic Beanstalk, Route 53, S3), HTML, CSS, JavaScript, Angular 8, React, and Bootstrap.

    </p>
    <br>
    <br>
    <div class="social-icons">
        <a target="_blanK"   href="https://www.linkedin.com/in/rahulreddy07">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a  target="_blanK" href="https://github.com/rahulreddy05">
            <i class="fab fa-github"></i>
        </a>
        <a  href="/">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="/">
            <i class="fab fa-facebook-f"></i>
        </a>
    </div>
 </div>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
</div>
</body>
</html>
