<html>
    <body>
<div class="col-md-12">
 <div class="panel-container" id="content" style>

    <div class="row">
        <section class="about-me line col-md-12 padding_30 padbot_45">
            <div class="section-title">
                <span></span>
                <br>
                <br>
                <br>
                <h2 class="mb-5" style="font-size: 25px;" style="color: #D9552C;">EDUCATION</h2>
            </div>
            <br>
            <br>
            
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0" style="font-size: 20px; color: #233750;">Cleveland State University</h3>
                    <div class="subheading mb-3" style="font-size: 15px;">Master of Science</div>
                    <div style="color: rgb(134, 142, 150);font-size: 13px;">Computer Science</div>
                    <p style="color:rgb(134, 142, 150);font-size: 13px;">GPA: 3.87/4</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary" >January 2020 - May 2021</span>
                </div>
            </div>
            <br>
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0" style="font-size: 20px;color: #233750;">Anurag Group Of Institution</h3>
                    <div class="subheading mb-3" style="font-size: 15px;">BACHELOR OF ENGINEERING</div>
                    <div style="color: rgb(134, 142, 150);font-size: 13px;">Computer Science</div>
                    <p style="color:rgb(134, 142, 150);font-size: 13px;">GPA: 9.0/10</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary" >August 2015 - May 2019</span>
                </div>
            </div>
            <br>
        </section>

    </div>
 </div>

<br>
</div>
</body>
</html>
