<html>
    <body>
<div class="col-md-12">
 <div class="panel-container" id="content" style>

    <div class="row">
        <section class="about-me line col-md-12 padding_30 padbot_45">
            <div class="section-title">
                <span></span>
                <br>
                <br>
                <br>
          
                <h2 class="mb-5" style="font-size: 22px;" style="color: #D9552C;">EXPERIENCES</h2>
            </div>
           <br>
           <br>
          
          
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0" style="font-size: 17px;color: #233750;">Full stack developer</h3>
                    <div class="subheading mb-3;"style="font-size: 15px; color: #233750;">Cleveland State University : DrugHelp.Care</div>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">March 2020 -  PRESENT</span>
                </div>
            </div>
            <br>
          
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content" >
                    <h3 class="mb-0" style="font-size: 17px;color: #233750;">Tata Consultancy And Services</h3>
                    <div class="subheading mb-3;"style="font-size: 15px ; color: #233750;">Software Engineer - Java Spring and Angular</div>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">JANUARY 2019 - DECEMBER 2019</span>
                </div>
            </div>
            <br>  
            <!-- <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0" style="font-size: 17px; color: #233750;">Tata Consultancy And Services</h3>
                    <div class="subheading mb-3" style="font-size: 15px; color: #233750;">Software Engineer  - Intern</div>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">JANUARY 2019- MAY 2019</span>
                </div>
            </div> --><br>
            <br>
            <br>
            <br>
            <br>
            
        </section>

    </div>
    <br>
    <br>
    <br>
    
 </div>
</div>
</body>
</html>


